<h3 class="ui header">{{t "forms.i-i-s-generaciya8-форми-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.код
      class=(if (v-get validationModel "код" "isInvalid") "error")
      label=(t "forms.i-i-s-generaciya8-форми-e.код-caption")
      data-test-i-i-s-generaciya8-форми-e-код=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "код" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-generaciya8-форми-e.опр-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.опр
      displayAttributeName="имя"
      autocomplete=true
      relationName="опр"
      projection="опрL"
      title=(t "forms.i-i-s-generaciya8-форми-e.опр-caption")
      readonly=readonly
      componentName="опрLookup"
      class=(if (v-get validationModel "опр" "isInvalid") "error")
      data-test-i-i-s-generaciya8-форми-e-опр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "опр" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-generaciya8-форми-e.сп-caption"}}</label>
    {{flexberry-groupedit
      componentName="спGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.сп
      content=model.сп
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "сп" "isInvalid") "error")
      data-test-i-i-s-generaciya8-форми-e-сп=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сп" "message")}}
  </div>
</form>
